body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}


.btn {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 3rem;
}

.btn-lg {
    padding: 0.9rem 1.7rem;
}

.col {
    padding: 3rem;
    padding-right: 2.5rem;
}

.section-heading {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    letter-spacing: 1.5px;
}

.section-text {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
}



#main {
    max-width: 900px;
    margin-top: 13%;
}

#sedan-section {
    background-color: hsl(31, 77%, 52%);
}

#suv-section {
    background-color: hsl(184, 100%, 22%);
}

#luxury-section {
    background-color: hsl(179, 100%, 13%);
}

#sedan-section .btn:hover {
    background-color: hsl(31, 77%, 52%);
    color: white;
}

#suv-section .btn:hover {
    background-color: hsl(184, 100%, 22%);
    color: white;
}

#luxury-section .btn:hover {
    background-color: hsl(179, 100%, 13%);
    color: white;
}


#sedan-section .btn {
    color: hsl(31, 77%, 52%);
}

#suv-section .btn {
    color: hsl(184, 100%, 22%);
}

#luxury-section .btn {
    color: hsl(179, 100%, 13%);
}

.btn:hover {
    border: 2px solid white;
}

.desktop-curve-start {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}

.desktop-curve-end {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}



@media (max-width: 767px) {
    body {
        padding: 2rem;
    }

    #main {
        margin-top: 9%;
        max-width: 450px;
    }

    .mobile-curve-top {
        border-radius: 13px 13px 0 0;
    }

    .mobile-curve-bottom {
        border-radius: 0 0 13px 13px;
    }

    .btn {
        margin-top: 1.2rem;
    }


}